Repository Fadil369/brainsait-unified-ecosystem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brainsait/core-developers, @brainsait/security-team, @brainsait/healthcare-team, @brainsait/compliance-team, @brainsait/nphies-team, @brainsait/backend-team, @brainsait/ai-team, @brainsait/arabic-team, @brainsait/devops-team, @brainsait/dba-team, @brainsait/api-team, @brainsait/frontend-team, @brainsait/ui-team, @brainsait/state-management-team, @brainsait/i18n-team, @brainsait/design-team, @brainsait/infrastructure-team, @brainsait/deployment-team, @brainsait/ci-cd-team, @brainsait/community-team, @brainsait/support-team, @brainsait/qa-team, @brainsait/admin-team, @brainsait/documentation-team, @brainsait/release-team, @brainsait/hr-team, @brainsait/technical-writers, @brainsait/build-team, @brainsait/typescript-team, @brainsait/code-quality-team, @brainsait/ml-team, @brainsait/health-monitoring-team, @brainsait/communications-team, @brainsait/integration-team, @brainsait/workflow-team, @brainsait/bot-team, @brainsait/business-team, @brainsait/operations-team, @brainsait/rcm-team, @brainsait/training-team, @brainsait/education-team, @brainsait/legal-team, @brainsait/staging-team, @brainsait/emergency-team, @brainsait/medical-team

.github/CODEOWNERS:

# Code Owners for BrainSAIT Unified Healthcare Ecosystem
# This file defines who is responsible for reviewing different parts of the codebase
# 
# Global rule - these users are the default owners for everything in the repo
# Unless a later rule takes precedence, these users will be requested for review
# when someone opens a pull request.

# Global owners (will be requested for review on all PRs unless overridden)
* @brainsait/core-developers @brainsait/security-team

# Healthcare and Compliance (HIPAA, NPHIES, Medical Data)
/backend/models/healthcare.py @brainsait/healthcare-team @brainsait/compliance-team @brainsait/security-team
/backend/services/nphies_service.py @brainsait/nphies-team @brainsait/healthcare-team @brainsait/compliance-team
/backend/services/enhanced_nphies_service.py @brainsait/nphies-team @brainsait/healthcare-team @brainsait/compliance-team
/backend/services/compliance_service.py @brainsait/compliance-team @brainsait/security-team @brainsait/healthcare-team
/backend/services/healthcare_service.py @brainsait/healthcare-team @brainsait/compliance-team
/backend/middleware/healthcare.py @brainsait/healthcare-team @brainsait/security-team

# Security and Authentication
/backend/middleware/security.py @brainsait/security-team @brainsait/backend-team
/backend/core/security/ @brainsait/security-team
/backend/services/ai_service.py @brainsait/ai-team @brainsait/security-team
/backend/services/ai_arabic_service.py @brainsait/ai-team @brainsait/arabic-team @brainsait/security-team
*.env* @brainsait/security-team @brainsait/devops-team
/ssl/ @brainsait/security-team @brainsait/devops-team
/backend/keys/ @brainsait/security-team
/backend/secrets/ @brainsait/security-team

# Database and Core Infrastructure
/backend/core/database.py @brainsait/backend-team @brainsait/dba-team @brainsait/security-team
/backend/core/config.py @brainsait/backend-team @brainsait/devops-team
/backend/models/ @brainsait/backend-team @brainsait/healthcare-team
/backend/alembic/ @brainsait/backend-team @brainsait/dba-team
/backend/migrations/ @brainsait/backend-team @brainsait/dba-team
*.sql @brainsait/dba-team @brainsait/backend-team

# API and Backend Services
/backend/main.py @brainsait/backend-team @brainsait/api-team
/backend/api/ @brainsait/api-team @brainsait/backend-team
/backend/services/ @brainsait/backend-team @brainsait/api-team
/backend/middleware/ @brainsait/backend-team @brainsait/security-team

# Frontend and UI (with Arabic RTL Support)
/oid-portal/src/ @brainsait/frontend-team @brainsait/ui-team
/oid-portal/src/components/ @brainsait/frontend-team @brainsait/ui-team @brainsait/arabic-team
/oid-portal/src/pages/ @brainsait/frontend-team @brainsait/ui-team
/oid-portal/src/contexts/ @brainsait/frontend-team @brainsait/state-management-team
/oid-portal/src/hooks/ @brainsait/frontend-team
/oid-portal/src/services/ @brainsait/frontend-team @brainsait/api-team

# Arabic Language and Internationalization
/oid-portal/src/locales/ @brainsait/arabic-team @brainsait/i18n-team @brainsait/frontend-team
/oid-portal/src/components/*Arabic* @brainsait/arabic-team @brainsait/frontend-team
/oid-portal/src/utils/arabic* @brainsait/arabic-team @brainsait/frontend-team
/backend/core/arabic_support.py @brainsait/arabic-team @brainsait/backend-team
/backend/services/*arabic* @brainsait/arabic-team @brainsait/ai-team

# Styling and Design System
/oid-portal/src/styles/ @brainsait/ui-team @brainsait/design-team @brainsait/arabic-team
/oid-portal/src/theme/ @brainsait/ui-team @brainsait/design-team @brainsait/arabic-team
*.css @brainsait/ui-team @brainsait/frontend-team
*.scss @brainsait/ui-team @brainsait/frontend-team
tailwind.config.js @brainsait/ui-team @brainsait/frontend-team @brainsait/arabic-team

# DevOps and Infrastructure
/docker-compose*.yml @brainsait/devops-team @brainsait/backend-team @brainsait/frontend-team
/Dockerfile* @brainsait/devops-team @brainsait/security-team
/kubernetes/ @brainsait/devops-team @brainsait/infrastructure-team @brainsait/security-team
/helm/ @brainsait/devops-team @brainsait/infrastructure-team
/terraform/ @brainsait/devops-team @brainsait/infrastructure-team @brainsait/security-team
/ansible/ @brainsait/devops-team @brainsait/infrastructure-team
deploy*.sh @brainsait/devops-team @brainsait/deployment-team
/nginx/ @brainsait/devops-team @brainsait/infrastructure-team

# CI/CD and GitHub Actions
/.github/workflows/ @brainsait/devops-team @brainsait/security-team @brainsait/ci-cd-team
/.github/ISSUE_TEMPLATE/ @brainsait/community-team @brainsait/support-team
/.github/pull_request_template.md @brainsait/community-team @brainsait/qa-team
/.github/repository-*.json @brainsait/admin-team @brainsait/security-team @brainsait/devops-team

# Testing
/backend/tests/ @brainsait/qa-team @brainsait/backend-team
/oid-portal/src/__tests__/ @brainsait/qa-team @brainsait/frontend-team
/oid-portal/cypress/ @brainsait/qa-team @brainsait/frontend-team
*test*.py @brainsait/qa-team @brainsait/backend-team
*test*.js @brainsait/qa-team @brainsait/frontend-team
*test*.ts @brainsait/qa-team @brainsait/frontend-team
*spec*.js @brainsait/qa-team @brainsait/frontend-team
*spec*.ts @brainsait/qa-team @brainsait/frontend-team
pytest.ini @brainsait/qa-team @brainsait/backend-team
jest.config.js @brainsait/qa-team @brainsait/frontend-team
vitest.config.js @brainsait/qa-team @brainsait/frontend-team

# Documentation
README*.md @brainsait/documentation-team @brainsait/community-team
CHANGELOG.md @brainsait/documentation-team @brainsait/release-team
CONTRIBUTING.md @brainsait/community-team @brainsait/documentation-team
CODE_OF_CONDUCT.md @brainsait/community-team @brainsait/hr-team
SECURITY*.md @brainsait/security-team @brainsait/documentation-team
/docs/ @brainsait/documentation-team @brainsait/technical-writers

# Package and Dependency Management
package*.json @brainsait/frontend-team @brainsait/security-team
requirements*.txt @brainsait/backend-team @brainsait/security-team
Pipfile* @brainsait/backend-team @brainsait/security-team
poetry.lock @brainsait/backend-team @brainsait/security-team
yarn.lock @brainsait/frontend-team @brainsait/security-team
package-lock.json @brainsait/frontend-team @brainsait/security-team

# Configuration Files
vite.config.js @brainsait/frontend-team @brainsait/build-team
webpack.config.js @brainsait/frontend-team @brainsait/build-team
tsconfig*.json @brainsait/frontend-team @brainsait/typescript-team
.eslintrc* @brainsait/frontend-team @brainsait/code-quality-team
.prettierrc* @brainsait/frontend-team @brainsait/code-quality-team
.gitignore @brainsait/devops-team @brainsait/security-team
.dockerignore @brainsait/devops-team @brainsait/security-team

# AI and Machine Learning
/backend/integrations/brainsait_pybrain.py @brainsait/ai-team @brainsait/ml-team @brainsait/backend-team
/backend/integrations/brainsait_pyheart.py @brainsait/ai-team @brainsait/health-monitoring-team @brainsait/backend-team
/backend/services/unified_pybrain_service.py @brainsait/ai-team @brainsait/ml-team
/backend/models/ai/ @brainsait/ai-team @brainsait/ml-team
/backend/services/*ai* @brainsait/ai-team @brainsait/backend-team

# Communication and Integrations
/backend/services/communication* @brainsait/communications-team @brainsait/integration-team
/backend/services/webhook_service.py @brainsait/integration-team @brainsait/backend-team
/backend/services/workflow_service.py @brainsait/workflow-team @brainsait/backend-team

# Business Logic and Operations
/backend/services/bot_service.py @brainsait/bot-team @brainsait/business-team
/backend/services/operations_service.py @brainsait/operations-team @brainsait/business-team
/backend/services/rcm_service.py @brainsait/rcm-team @brainsait/healthcare-team @brainsait/business-team
/backend/services/training_service.py @brainsait/training-team @brainsait/education-team

# High-Risk Files Requiring Multiple Approvals
# These files affect core security, compliance, or platform stability
/backend/main.py @brainsait/admin-team @brainsait/backend-team @brainsait/security-team @brainsait/healthcare-team
/docker-compose.yml @brainsait/admin-team @brainsait/devops-team @brainsait/security-team
/docker-compose.production.yml @brainsait/admin-team @brainsait/devops-team @brainsait/security-team @brainsait/release-team
LICENSE @brainsait/admin-team @brainsait/legal-team @brainsait/compliance-team
SECURITY.md @brainsait/admin-team @brainsait/security-team @brainsait/compliance-team @brainsait/healthcare-team

# Production and Release Management
/deployment/ @brainsait/release-team @brainsait/devops-team @brainsait/security-team
/scripts/production* @brainsait/release-team @brainsait/devops-team @brainsait/security-team
*production* @brainsait/release-team @brainsait/devops-team @brainsait/security-team
*staging* @brainsait/staging-team @brainsait/devops-team
deploy-to-vps*.sh @brainsait/deployment-team @brainsait/devops-team @brainsait/security-team

# Emergency and Hotfix Files
# These require immediate security team approval
/backend/services/emergency* @brainsait/emergency-team @brainsait/security-team @brainsait/healthcare-team
/backend/hotfix/ @brainsait/emergency-team @brainsait/security-team @brainsait/admin-team
*hotfix* @brainsait/emergency-team @brainsait/security-team @brainsait/release-team

# Special Teams for Healthcare Compliance
# Files that directly impact patient data or healthcare regulations
/backend/models/patient* @brainsait/healthcare-team @brainsait/compliance-team @brainsait/security-team @brainsait/legal-team
/backend/services/*patient* @brainsait/healthcare-team @brainsait/compliance-team @brainsait/security-team
/backend/phi_handling/ @brainsait/healthcare-team @brainsait/compliance-team @brainsait/security-team @brainsait/legal-team
*hipaa* @brainsait/compliance-team @brainsait/security-team @brainsait/healthcare-team @brainsait/legal-team
*phi* @brainsait/compliance-team @brainsait/security-team @brainsait/healthcare-team @brainsait/legal-team
*medical* @brainsait/healthcare-team @brainsait/compliance-team @brainsait/medical-team

docs: Add repository rulesets implementation guide
  .github/IMPLEMENTATION_GUIDE.md
Owners: @brainsait/core-developers, @brainsait/security-team

security: Add comprehensive Copilot firewall configuration
  .github/COPILOT_SECURITY_CONFIG.md
  scripts/setup-copilot-security.sh
Owners: @brainsait/core-developers, @brainsait/security-team

🚀 Implement comprehensive GitHub Copilot MCP Healthcare Integration
  .copilot-healthcare-config.json
  .github/COPILOT_MCP_IMPLEMENTATION_COMPLETE.md
  .github/COPILOT_MCP_INTEGRATION_GUIDE.md
  .github/REPOSITORY_RULESETS.md
  .github/copilot-mcp-config-template.md
  .github/copilot-mcp-config.json
  CHANGELOG.md
  backend/brainsait_mcp_servers/__init__.py
  backend/brainsait_mcp_servers/analytics_server.py
  backend/brainsait_mcp_servers/arabic_medical_server.py
  backend/brainsait_mcp_servers/compliance_server.py
  backend/brainsait_mcp_servers/fhir_server.py
  backend/brainsait_mcp_servers/nphies_server.py
  backend/init_mcp_healthcare.py
  backend/requirements_mcp.txt
  monitor-copilot-security.sh
  setup_mcp_healthcare.sh
Owners: @brainsait/core-developers, @brainsait/security-team, @brainsait/documentation-team, @brainsait/release-team, @brainsait/healthcare-team, @brainsait/compliance-team, @brainsait/medical-team, @brainsait/legal-team, @brainsait/backend-team

test: Add comprehensive MCP integration validation test
  test_mcp_integration.py
Owners: @brainsait/qa-team, @brainsait/backend-team

🚀 ULTIMATE GLASS MORPHISM DESIGN SYSTEM - Final revolutionary enhancements
  ULTIMATE_GLASS_MORPHISM_DESIGN_SYSTEM.md
  oid-portal/src/styles/revolutionary-glass-system.css
Owners: @brainsait/core-developers, @brainsait/security-team, @brainsait/ui-team, @brainsait/frontend-team

🚀 REVOLUTIONARY HEALTHCARE TRANSFORMATION - ULTIMATE UNIFIED INTELLIGENCE ECOSYSTEM
  oid-portal/dist/sw.js
  oid-portal/dist/workbox-28240d0c.js
  oid-portal/package-lock.json
  oid-portal/package.json
  oid-portal/src/App.jsx
  oid-portal/src/components/EnhancedLayout.jsx
  oid-portal/src/components/EnhancedLayoutClean.jsx
  oid-portal/src/components/RevolutionaryHealthcareDashboard.jsx
  oid-portal/src/components/UnifiedWorkspace.jsx
  oid-portal/src/index.css
  oid-portal/src/pages/OidTree.jsx
  oid-portal/src/pages/UnifiedWorkspace.css
  oid-portal/src/styles/glass-morphism.css
  oid-portal/src/styles/revolutionary-glass-system.css
  oid-portal/vite.config.js
Owners: @brainsait/core-developers, @brainsait/security-team, @brainsait/frontend-team, @brainsait/ui-team, @brainsait/arabic-team, @brainsait/compliance-team, @brainsait/healthcare-team, @brainsait/legal-team, @brainsait/build-team

fix: Update import path for UnifiedWorkspace component
  oid-portal/src/App.jsx
Owners: @brainsait/frontend-team, @brainsait/ui-team

Create static.yml
  .github/workflows/static.yml
Owners: @brainsait/devops-team, @brainsait/security-team, @brainsait/ci-cd-team

Create CNAME
  CNAME
Owners: @brainsait/core-developers, @brainsait/security-team

Potential fix for code scanning alert no. 57: Information exposure through an exception
  backend/main.py
Owners: @brainsait/admin-team, @brainsait/backend-team, @brainsait/security-team, @brainsait/healthcare-team

Potential fix for code scanning alert no. 58: Information exposure through an exception
  backend/services/insurance_analysis/claim_analysis_engine.py
Owners: @brainsait/backend-team, @brainsait/api-team

Potential fix for code scanning alert no. 59: Information exposure through an exception
  backend/services/insurance_analysis/trend_analyzer.py
Owners: @brainsait/backend-team, @brainsait/api-team

Potential fix for code scanning alert no. 60: Information exposure through an exception
  backend/services/insurance_analysis/rejection_pattern_detector.py
Owners: @brainsait/backend-team, @brainsait/api-team

Potential fix for code scanning alert no. 61: Information exposure through an exception
  backend/services/insurance_analysis/financial_impact_calculator.py
Owners: @brainsait/backend-team, @brainsait/api-team

Potential fix for code scanning alert no. 65: Information exposure through an exception
  backend/services/code_enhancement/security_scanner.py
Owners: @brainsait/backend-team, @brainsait/api-team

Potential fix for code scanning alert no. 66: Information exposure through an exception
  backend/services/code_enhancement/debug_automation.py
Owners: @brainsait/backend-team, @brainsait/api-team

Potential fix for code scanning alert no. 68: Uncontrolled data used in path expression
  backend/services/code_enhancement/code_analyzer.py
Owners: @brainsait/backend-team, @brainsait/api-team

Potential fix for code scanning alert no. 71: Workflow does not contain permissions
  .github/workflows/code-quality-check.yml
Owners: @brainsait/devops-team, @brainsait/security-team, @brainsait/ci-cd-team

Potential fix for code scanning alert no. 82: Workflow does not contain permissions
  .github/workflows/security-scan.yml
Owners: @brainsait/devops-team, @brainsait/security-team, @brainsait/ci-cd-team

Create crda.yml
  .github/workflows/crda.yml
Owners: @brainsait/devops-team, @brainsait/security-team, @brainsait/ci-cd-team

Delete CNAME
  CNAME
Owners: @brainsait/core-developers, @brainsait/security-team

Create dependabot.yml
  .github/dependabot.yml
Owners: @brainsait/core-developers, @brainsait/security-team

Potential fix for code scanning alert no. 86: Workflow does not contain permissions
  .github/workflows/performance-monitoring.yml
Owners: @brainsait/devops-team, @brainsait/security-team, @brainsait/ci-cd-team

Potential fix for code scanning alert no. 88: Workflow does not contain permissions
  .github/workflows/security-scan.yml
Owners: @brainsait/devops-team, @brainsait/security-team, @brainsait/ci-cd-team

Refactor: Improve CORS config and communication services
  backend/__pycache__/main.cpython-312.pyc
  backend/main.py
  backend/middleware/__pycache__/cors.cpython-312.pyc
  backend/middleware/cors.py
  backend/services/__pycache__/__init__.cpython-312.pyc
  backend/services/communication/__init__.py
  backend/services/communication/__pycache__/__init__.cpython-312.pyc
  backend/services/communication/__pycache__/nphies_compliance.cpython-312.pyc
  backend/services/communication/__pycache__/patient_communication_service.cpython-312.pyc
  backend/services/communication/__pycache__/workflow_orchestrator.cpython-312.pyc
  backend/services/communication/twilio_hipaa/__pycache__/__init__.cpython-312.pyc
  backend/services/communication/twilio_hipaa/__pycache__/base.cpython-312.pyc
  backend/services/communication/workflows/__pycache__/clinical_results_workflow.cpython-312.pyc
  backend/services/communication/workflows/__pycache__/emergency_workflow.cpython-312.pyc
  backend/services/communication/workflows/__pycache__/post_visit_workflow.cpython-312.pyc
  backend/services/communication/workflows/__pycache__/pre_visit_workflow.cpython-312.pyc
  backend/services/communication/workflows/__pycache__/visit_workflow.cpython-312.pyc
  backend/services/communication/workflows/emergency_workflow.py
  backend/services/communication/workflows/visit_workflow.py
  backend/tests/__pycache__/__init__.cpython-312.pyc
  backend/tests/__pycache__/conftest.cpython-312-pytest-9.0.2.pyc
  backend/tests/__pycache__/test_communication_workflows.cpython-312-pytest-9.0.2.pyc
  oid-portal/src/pages/OidTree.jsx
Owners: @brainsait/core-developers, @brainsait/security-team, @brainsait/admin-team, @brainsait/backend-team, @brainsait/healthcare-team, @brainsait/api-team, @brainsait/communications-team, @brainsait/integration-team, @brainsait/compliance-team, @brainsait/legal-team, @brainsait/qa-team, @brainsait/frontend-team, @brainsait/ui-team

Remove unused .env.development and .env.production files
  .env.development
  .env.production
  .gitignore
Owners: @brainsait/security-team, @brainsait/devops-team, @brainsait/release-team

feat: Grant CRDA action permissions for issues and pull requests
  .github/workflows/crda.yml
Owners: @brainsait/devops-team, @brainsait/security-team, @brainsait/ci-cd-team
